.danguitar{
    padding: 20px 45px 20px 45px;
}
.danguitar > .khungguitar{
    height: 1920px;
    background-color: white;
}
.danguitar > .khungguitar > h3{
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    opacity: 90%;
}
.danguitar > .khungguitar > p {
    font-size: 11pt;
}
.danguitar > .khungguitar > li{
    list-style: none;
    color: blue;
    font-size: 13pt;
    font-weight: bold;
}
table{
    border-collapse: collapse;
    border: 1px solid grey;
    height: 400px;
    width: 500px;
    text-align: center;
}
.danguitar > .khungguitar > h3 > a{
    text-decoration: none;
    color: #337ab7;
}
.danguitar > .khungguitar > h3 > a:hover{
    text-decoration: underline;
}