.chothuesp{
    padding: 20px 20px 20px 20px;
}
.chothuesp > .chothuekhung{
    height: 500px;
    background-color: white;
    box-sizing: border-box;
    padding-left: 30px;
}
.chothuesp > .chothuekhung > .boxchothue{
    float: left;
    height: 230px;
    width: 410px;
    background-color: chocolate;    
    margin-right: 15px;
    margin-bottom: 20px;
}
.chothuesp > .chothuekhung > .boxchothue > a > img{
    height: 100%;
    width: 100%;
}
.chothuesp > .chothuekhung > .boxchothue > .textchothue{
    height: 40px;
    width: 100%;
    background-color: orangered;
    position: relative;
    bottom: 44px;
}
.chothuesp > .chothuekhung > .boxchothue > .textchothue > a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 500;
    margin-left: 10px;
    font-size: 11pt;
}
.chothuesp > .chothuekhung > .boxchothue > .textchothue:hover{
    background-color: #337ab7;
}
