.container2{
    padding: 40px 60px 0px 60px;
}
.container2 > h3{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.container2 > h2{
    font-family: Arial, Helvetica, sans-serif;
}
.container2 > p{
    font-family:inherit;
}
.container2 > h4{
    color: rgb(255, 169, 8);
}
.container2 > h1{
    line-height: 50px;
    color: rgb(255, 169, 8);
}

.container2 > .gt > li{
    margin-left: 50px;
    line-height: 25px;
    font-family: inherit ;
}
